@model ShoesShop.Models.Invoice

@{
    ViewData["Title"] = "Delete";
}

<div class="admin-body-wrapper p-3">

    <div>
        <h3>Bạn có chắc muốn xóa đơn hàng này, phía client cũng sẽ bị xóa vĩnh viễn ?</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InvoiceCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InvoiceCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOrdered)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOrdered)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status.Status)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Quay về trang quản lí</a>
        </form>
    </div>

</div>