@model IEnumerable<ShoesShop.Models.Category>
@{
    var sizes = (IEnumerable<ShoesShop.Models.Size>)TempData["Sizes"];
}
<div class="container container-wrapper product-wrapper py-3 px-0 bg-transparent">
    <partial name="_CollectionPartial"></partial>
    <div class="px-3 my-5 filter-wrapper">
        <div class="filter-icon"><span class="fa fa-filter text-body"></span> Bộ lọc</div>
        <div class="dropdown ps-3 filter-sizes">
            <button class="dropdown-toggle filter-sizes-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kích thước
            </button>
            <ul class="dropdown-menu filter-sizes-menu">
                @if(sizes != null)
                {
                    foreach(var size in sizes)
                    {
                        <li class="filter-size-option" data-size="@size.Name">@size.Name</li>
                    }
                }
            </ul>
        </div>

        <div class="dropdown ps-3 filter-prices">
            <button class="dropdown-toggle filter-sizes-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Giá
            </button>
            <ul class="dropdown-menu filter-prices-menu p-0">
                @if (sizes != null)
                {
                    <li class="filter-price-option" data-price="1">0 - 500.000</li>
                    <li class="filter-price-option" data-price="2">500.000 - 1.000.000</li>
                    <li class="filter-price-option" data-price="3">1.000.000 - 1.500.000</li>
                    <li class="filter-price-option" data-price="4">1.500.000 - 2.000.000</li>
                }
            </ul>
        </div>
        <div class="d-none d-md-block dropdown ms-auto filter-sort">
            <button class="dropdown-toggle filter-sizes-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp theo
            </button>
            <ul class="dropdown-menu filter-sort-menu p-0">
                @if (sizes != null)
                {
                    <li class="filter-sort-option" data-sort="1">Giá: Tăng dần</li>
                    <li class="filter-sort-option" data-sort="2">Giá: Giảm dần</li>
                    <li class="filter-sort-option" data-sort="3">Tên: A-Z</li>
                    <li class="filter-sort-option" data-sort="4">Tên: Z-A</li>
                }
            </ul>
        </div>
        <div class="filter-active w-100"></div>
    </div>
    @if (Model != null)
    {
        <div class="collection-product-wrapper">
        </div>
    }
</div>


@section Scripts {
    <script defer>
        // Define an object to hold filter functions
        const filterFunc = {
            // Function to render products based on filters
            renderProduct: () => {
                var filteredCategories = categories.map((category) => {
                    var filteredProducts = category.products.filter((product) => {
                        return filterSizesArray.every((filter) => {
                            return Array.isArray(product.sizes) && product.sizes.includes(filter);
                        });
                    });
                    return {
                        name: category.name,
                        description: category.description,
                        products: filteredProducts
                    };
                }).filter((category) => {
                    return category.products.length > 0;
                });


                if (filterPricesArray.length != 0) {
                    filteredCategories = filteredCategories.map((category) => {
                        var jumpPrice = 500000;
                        var filteredProducts = category.products.filter((product) => {
                            return filterPricesArray.some((filter) => {
                                if (product.currentPrice > (filter - 1) * jumpPrice && product.currentPrice <= filter * jumpPrice) {
                                    return product;
                                }
                            });
                        });
                        return {
                            name: category.name,
                            description: category.description,
                            products: filteredProducts
                        };
                    }).filter((category) => {
                        return category.products.length > 0;
                    })
                };

                // Sort products based on filterSort
                console.log(filterSort)
                switch (filterSort) {
                    case '1':
                        filteredCategories.forEach((category) => {
                            category.products.sort((a, b) => a.currentPrice - b.currentPrice);
                        });
                        break;
                    case '2':
                        filteredCategories.forEach((category) => {
                            category.products.sort((a, b) => b.currentPrice - a.currentPrice);
                        });
                        break;
                    case '3':
                        filteredCategories.forEach((category) => {
                            category.products.sort((a, b) => a.name.localeCompare(b.name));
                        });
                        break;
                    case '4':
                        filteredCategories.forEach((category) => {
                            category.products.sort((a, b) => b.name.localeCompare(a.name));
                        });
                        break;
                    default:
                        console.error("Invalid filterSort value");
                        break;
                }

                $(".collection-product-wrapper").html(``);
                filteredCategories.forEach((category) => {
                    if (category.products && category.products.length > 0) {
                        
                        $(".collection-product-wrapper").append(`
                                <div class="px-3">
                                    <h5 class="mb-3 category-item-title">${category.name}</h5>
                                </div>
                                <div class="row pb-5 product-carousel">
                                    <button title="Sang trái" class="d-none d-lg-flex btn btn-square product-carousel-left"><i class="fa-solid fa-caret-left"></i></button>
                                    <button title="Sang phải" class="d-none d-lg-flex btn btn-square product-carousel-right"><i class="fa-solid fa-caret-right"></i></button>
                                    <div class="row product-carousel-list overflow-y-hidden">
                                        ${category.products.map(product => `
                                            <div class="product-item col-xl-3 col-md-4 col-6 px-1 px-md-3">
                                                ${product.discount !== 0 ? `<i class="fa-solid fa-certificate product-item-saleIcon"></i><p class="product-item-saleIcon">${product.discount}%</p>` : ''}
                                                <a href="/san-pham/${product.slug}" class="product-card card">
                                                    <img src="${product.image}" class="card-img-top" alt="${product.name}" />
                                                    <div class="card-body">
                                                        <h5 class="card-title">${product.name}</h5>
                                                        <div class="d-lg-flex d-md-block justify-content-between">
                                                            <p class="product-card-price card-text text-danger fw-bold d-inline-block"><span class="number-with-comma">${product.currentPrice}</span> đ</p>
                                                            ${product.discount !== 0 ? `<p class="product-card-price card-text text-decoration-line-through d-inline-block"><span class="number-with-comma">${product.price}</span> đ</p>` : ''}
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        `).join('')}
                                    </div>
                                </div>
                            `);
                    }
                });
                filterFunc.formatNumbersWithComma();
            },
            // Function to format numbers with commas
            formatNumbersWithComma:  () => {
                $('.number-with-comma').each(function () {
                    var originalNumber = $(this).text().trim();
                    var formattedNumber = numeral(originalNumber).format('0,0');
                    $(this).text(formattedNumber);
                });
            },

            // Function to render active filters
            renderFilter: () => {
                $('.filter-active').html(``);
                filterSizesArray.forEach((item) => {
                    $('.filter-active').append(`
                            <div class="filter-active-item">
                                <p>${item}</p>
                                <span class="fa fa-times filter-remove" onClick="removeSizeFilter('${item}')"></span>
                            </div>
                        `);
                });

                filterPricesArray.forEach((item) => {
                    var jump = 500000;
                    var lowPrice = (item - 1) * jump;
                    var highPrice = item * jump;
                    $('.filter-active').append(`
                            <div class="filter-active-item">
                                <p><span class="number-with-comma">${lowPrice}</span>đ - <span class="number-with-comma">${highPrice}</span>đ</p>
                                <span class="fa fa-times filter-remove" onClick="removePriceFilter('${item}')"></span>
                            </div>
                        `);
                });
                filterFunc.formatNumbersWithComma();
                filterFunc.attachCarouselEvents();

            },
            attachCarouselEvents: () => {
                $('.product-carousel-left').on('click', function () {
                    var productCarousel = $(this).closest('.product-carousel')
                    var width = productCarousel.find('.product-item').first().outerWidth();
                    productCarousel.find('.product-carousel-list').animate({ scrollLeft: '-=' + width }, 400);
                });

                $('.product-carousel-right').on('click', function () {
                    var productCarousel = $(this).closest('.product-carousel')
                    var width = productCarousel.find('.product-item').first().outerWidth();
                    productCarousel.find('.product-carousel-list').animate({ scrollLeft: '+=' + width }, 400);
                });
            },
        };

        // Define categories array
        var categories = [
        @foreach (var category in Model)
        {
            <text>
                {
                    name: `@category.Name`,
                    description: `@category.Description`,
                    products: [
                @foreach (var product in category.Products)
                {
                    <text>
                            {
                                name: `@product.Name`,
                                description: `@product.Description`,
                                discount: @product.Discount.Percent,
                                price: @product.Price,
                                currentPrice: @product.CurrentPrice,
                                image: `@product.ImageLink`,
                                slug: `@product.Slug`,
                                sizes: [
                        @foreach (var item in product.Items)
                        {
                            if (item.Quantity != 0)
                            {
                                <text>
                                    `@item.Size.Name`,
                                </text>
                            }
                        }
                                                    ]
                            },
                    </text>
                }
                                ],
                },
            </text>
        }
            ];


        // Initialize filter array
        var filterSizesArray = [];
        var filterPricesArray = [];
        var filterSort = '4';

        // Add event listener for filter options
        $('.filter-size-option').on('click', function () {
            var size = $(this).attr('data-size');
            if (!filterSizesArray.includes(size)) {
                filterSizesArray.push(size);
                filterFunc.renderProduct();
                filterFunc.renderFilter();
            }
        });

        $('.filter-price-option').on('click', function () {
            var size = $(this).attr('data-price');
            if (!filterPricesArray.includes(size)) {
                filterPricesArray.push(size);
                filterFunc.renderProduct();
                filterFunc.renderFilter();
            }
        });

        $('.filter-sort-option').on('click', function () {
            var sortValue = $(this).attr('data-sort');
            if(filterSort != sortValue) {
                
                filterSort = sortValue;

                filterFunc.renderProduct();
                filterFunc.renderFilter();
            }
        });

        // Function to remove a filter
        const removeSizeFilter = (size) => {
            filterSizesArray = filterSizesArray.filter((item) => {
                return item != size;
            });
            filterFunc.renderProduct();
            filterFunc.renderFilter();
        };
        const removePriceFilter = (value) => {
            filterPricesArray = filterPricesArray.filter((item) => {
                return item != value;
            });
            filterFunc.renderProduct();
            filterFunc.renderFilter();
        };
        // Initial render of products
        filterFunc.renderProduct(categories);
    </script>
}
