@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
}

<div class="admin-body-wrapper p-3">
    <h4>Phân quyền</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col-2">
                    Tên user
                </th>
                <th class="col-2">
                    Số điện thoại
                </th>
                <th class="col-2">
                    Email
                </th>
                <th class="col-4">
                    Role
                </th>
                <th class="col-2">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleNames)
                    </td>
                    <td>
                        <a title="Chi tiết" asp-action="Detail" asp-route-id="@item.Id" class="admin-crud-btn"><i class='tf-icons bx bx-edit'></i></a>
                        <a title="Chặn" asp-action="Ban" asp-route-id="@item.Id" class="admin-crud-btn"><i class='tf-icons bx bx-trash'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>