@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoes Shop Admin</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/admin/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/admin/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/admin/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/admin/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="~/admin/css/admin-main.css" />
    <!-- Helpers -->
    <script src="~/admin/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/admin/js/config.js"></script>


</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="index" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="./img/logo.jpg" alt="logo"/>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-3">B'Store</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Dashboard") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-store-alt"></i>
                            <div data-i18n="Analytics">Bảng điều khiển</div>
                        </a>
                    </li>

                    <!-- Layouts -->
                    <li class="menu-item @((ViewData["MenuBar"] as string == "ManageUser") ? "active" : "")">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">Quản lí thông tin</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="menu-link">
                                    <div data-i18n="Navbar">Khách hàng</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="Admin" asp-controller="UserRole" asp-action="Index" class="menu-link">
                                    <div data-i18n="Navbar">Phân quyền</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Quản lí cửa hàng</span>
                    </li>
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Invoices") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Invoices" asp-action="" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-package"></i>
                            <div data-i18n="Navbar">Đơn hàng</div>
                        </a>
                    </li>
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Products") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Products" asp-action="" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-package"></i>
                            <div data-i18n="Navbar">Sản phẩm</div>
                        </a>
                    </li>
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Categories") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Categories" asp-action="" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-category"></i>
                            <div data-i18n="Navbar">Danh mục</div>
                        </a>
                    </li>
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Discounts") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Discounts" asp-action="" class="menu-link">
                            <i class="menu-icon tf-icons bx bxs-discount"></i>
                            <div data-i18n="Navbar">Khuyến mãi</div>
                        </a>
                    </li>
                    <li class="menu-item @((ViewData["MenuBar"] as string == "Sizes") ? "active" : "")">
                        <a asp-area="Admin" asp-controller="Sizes" asp-action="" class="menu-link">
                            <i class='menu-icon tf-icons bx bx-ruler'></i>
                            <div data-i18n="Navbar">Kích thước</div>
                        </a>
                    </li>
                    <!-- Components -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Thành phần</span></li>
                    <!-- Slider -->
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Sliders" asp-action="" class="menu-link">
                            <i class='menu-icon tf-icons bx bx-landscape'></i>
                            <div data-i18n="Navbar">Giới thiệu</div>
                        </a>
                    </li>
                    

                    
                    <!-- Misc -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Khác</span></li>
                    <li class="menu-item">
                        <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                           target="_blank"
                           class="menu-link">
                            <i class="menu-icon tf-icons bx bx-support"></i>
                            <div data-i18n="Support">Liên hệ Dev</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Home" asp-action="index"
                           target="_blank"
                           class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home"></i>
                            <div data-i18n="Documentation">Về trang chủ</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Search and navabar of container -->
                
                <main role="main" class="container-xxl mt-4">
                    <!-- Main container -->
                    @RenderBody()
                </main>
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    

    <footer class="border-top footer text-muted">
        <div class="container" onclick="alertgido()">
            &copy; 2023 - ShoesShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/vendor/libs/popper/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/admin/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Include numeral.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <!-- Vendors JS -->
    <script src="~/admin/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/admin/js/main.js" asp-append-version="true"></script>
    <script src="~/admin/js/site.js" asp-append-version="true"></script>


    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
