@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form class="row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Đăng kí tài khoản</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email">Email đăng nhập</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="password" />
        <label asp-for="Input.FullName">Tên đầy đủ</label>
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
        <label asp-for="Input.Password">Password</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng kí</button>
</form>
<div class="row">
    <div class="col-7 py-1">
        <p class="m-0 p-1" style="font-size: 1rem">
            <a class="text-dark" id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu</a>
        </p>
        <p class="m-0 p-1" style="font-size: 1rem">
            <a class="text-dark" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Đăng nhập</a>
        </p>
        <p class="m-0 p-1" style="font-size: 1rem">
            <a class="text-dark" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại email xác thực</a>
        </p>
    </div>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div class="col-5">
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal col-5">
                <div class="text-end">
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn" name="provider" value="@provider.Name" title="Đăng nhập với @provider.DisplayName account">
                                <i class="fa-brands fa-google me-1"></i>
                                <span style="white-space: nowrap; letter-spacing: -1.5px;">
                                    <span style="color: dodgerblue">G</span>
                                    <span style="color: red">o</span>
                                    <span style="color: #FFD700">o</span>
                                    <span style="color: dodgerblue">g</span>
                                    <span style="color: green">l</span>
                                    <span style="color: red">e</span>
                                </span>
                            </button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
