@model ShoesShop.Models.Product
@{
    ViewData["Title"] = "Edit";
}
<div class="admin-body-wrapper p-3">
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]"></partial>
    <h1>Cập nhật - @Html.DisplayFor(productName => Model.Name)</h1>

    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-4 align-content-center">
                    <label for="edit-product-main-image-@Html.DisplayFor(productImageId => Model.Id)" class="control-label btn w-100" style="aspect-ratio: 1; display: block;">
                        <img class="w-100" style="aspect-ratio: 1;" src="@Model.ImageLink" alt="@Model.Name" />
                    </label>
                    <input onchange="mainModule.setImageToInput(this)" id="edit-product-main-image-@Html.DisplayFor(productImageId => Model.Id)" type="file" asp-for="@Model.ImageFile" class="form-control" style="display: none;" />
                </div>
                <div class="col-8">
                    <div class="row justify-content-center">
                        @for (var i = 0; i < Model.Images.Count(); i++)
                        {
                            <div class="form-group col-4">
                                @Html.HiddenFor(model => Model.Images[i].Id, Model.Images[i].Id)
                                @Html.HiddenFor(model => Model.Images[i].ProductId, Model.Images[i].ProductId)
                                @Html.HiddenFor(model => Model.Images[i].ImageLink, Model.Images[i].ImageLink)
                                <label for="edit-product-image-@Html.DisplayFor(productImageId => Model.Images[i].Id)" asp-for="@Model.Images[i].ImageFile" class="control-label btn w-100" style="aspect-ratio: 1; display: block;">
                                    <img class="w-100" style="aspect-ratio: 1;" src="@Model.Images[i].ImageLink" alt="@Model.Name" />
                                </label>
                                <input onchange="mainModule.setImageToInput(this)" id="edit-product-image-@Html.DisplayFor(productImageId => Model.Images[i].Id)" type="file" asp-for="@Model.Images[i].ImageFile" class="form-control" style="display: none;" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(model => Model.Id)
                <div class="row">
                    <div class="col-6">
                        <h5>Chi tiết thông tin sản phẩm</h5>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GenderId" class="control-label"></label>
                            <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                            <span asp-validation-for="GenderId" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiscountId" class="control-label"></label>
                            <select asp-for="DiscountId" class="form-control" asp-items="ViewBag.DiscountId"></select>
                            <span asp-validation-for="DiscountId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>Size và số lượng sản phẩm</h5>
                        <div class="row">
                            @for (var i = 0; i < Model.Items.Count(); i++)
                            {
                                <div class="form-group d-inline-block col-6">
                                    @Html.HiddenFor(model => Model.Items[i].Id, Model.Items[i].Id)
                                    @Html.HiddenFor(model => Model.Items[i].SizeId, Model.Items[i].SizeId)
                                    @Html.HiddenFor(model => Model.Items[i].ProductId, Model.Items[i].ProductId)
                                    <label>Size : @Html.DisplayFor(modelItem => @Model.Items[i].Size.Name)</label>
                                    <input asp-for="@Model.Items[i].Quantity" min="0" class="form-control" />
                                    <span asp-validation-for="@Model.Items[i].Quantity" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Quay lại trang quản lí sản phẩm</a>
    </div>

</div>